In [3]:
import pandas as pd

In [4]:
file_path = 'D:\\top-5000-youtube-channels-data-from-socialblade.csv'
ytube = pd.read_csv(file_path)

In [5]:
ytube

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

In [9]:
ytube.shape

(5000, 6)

In [10]:
ytube['Rank'] = ytube['Rank'].str[0:-2].str.replace(',','').astype('int')

In [16]:
#ytube['Subscribers'].astype('int')
mask1 = ytube[ytube['Subscribers'].str.contains('-')].index
ytube.drop(labels=mask1, axis=0, inplace=True)

In [18]:
ytube['Subscribers']= ytube['Subscribers'].astype('int')

In [19]:
ytube['Subscribers']

0       18752951
1       61196302
2       19238251
3       31180559
4       32852346
          ...
4995     2072942
4996     1055091
4997     3265735
4998       32990
4999       21172
Name: Subscribers, Length: 4613, dtype: int32

In [20]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4613 non-null   int32
 1   Grade          4613 non-null   object
 2   Channel name   4613 non-null   object
 3   Video Uploads  4613 non-null   object
 4   Subscribers    4613 non-null   int32
 5   Video views    4613 non-null   int64
dtypes: int32(2), int64(1), object(3)
memory usage: 216.2+ KB

In [21]:
ytube[ytube['Channel name'] == '']

Empty DataFrame
Columns: [Rank, Grade, Channel name, Video Uploads, Subscribers, Video views]
Index: []

In [17]:
ytube

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,A++,Zee TV,82757,18752951,20869786591
1,2,A++,T-Series,12661,61196302,47548839843
2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,A++,SET India,27323,31180559,22675948293
4,5,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,4996,B+,Uras Benlioğlu,706,2072942,441202795
4996,4997,B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,4998,B+,Mastersaint,110,3265735,311758426
4998,4999,B+,Bruce McIntosh,3475,32990,14563764
4999,5000,B+,SehatAQUA,254,21172,73312511

In [12]:
ytube.dtypes

Rank              int32
Grade            object
Channel name     object
Video Uploads    object
Subscribers      object
Video views       int64
dtype: object

In [13]:
ytube.iloc[4995]

Rank                       4996
Grade                       B+
Channel name     Uras Benlioğlu
Video Uploads               706
Subscribers             2072942
Video views           441202795
Name: 4995, dtype: object

In [74]:
df.sort_values(by = "Rank", ascending = False).head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
98,99th,A,BeckyGVEVO,53,6658776,3518844458
998,999th,A,Earwax Specialist,572,387654,301082491
997,998th,A,Les' Copaque Production,1078,3130717,2040030829
996,997th,A,TOY GUMA,303,1783483,628952933

In [25]:
df.sort_values(by = ["Subscribers", "Channel name"]).head()

                     Rank Grade Video Uploads Subscribers  Video views
Channel name
102 TUBE          2,295th   B+            352         --     206198480
24h Tin tức       3,110th   B+           8733         --     138731242
3T Nerf War       2,105th   B+            221         --     164766145
4G Entertainment  1,340th   A-           2730         --     179243201
92 News HD        4,631st   B+          30811         --     134021190

In [26]:
 df.sort_index().head()# shorting by alpha

,Rank,Grade,Video Uploads,Subscribers,Video views
Channel name,,,,,
#Desenhos Kids BR,"2,941st",B+,207,242635,84041146
#FIRST WINGS FILM PRODUCTION,"4,129th",B+,22,69055,12678949
#Mentale Zuflucht,"3,352nd",B+,354,780214,363411371
#Mind Warehouse,"1,478th",A-,360,4644035,1337876967
#Refugio Mental,490th,A,312,5895361,1262196983

Counting values in a Series

In [28]:
df["Video Uploads"] #We can extract a single column of data from a DataFrame as a Series. Notice
#that pandas preserves the DataFrame’s index, the movie titles, in the Series

Channel name
Zee TV                        82757
T-Series                      12661
Cocomelon - Nursery Rhymes      373
SET India                     27323
WWE                           36756
                              ...
Uras Benlioğlu                  706
HI-TECH MUSIC LTD               797
Mastersaint                     110
Bruce McIntosh                 3475
SehatAQUA                       254
Name: Video Uploads, Length: 5000, dtype: object

In [32]:
df["Video Uploads"].value_counts().head(10)

Video Uploads
26    17
20    17
8     16
84    16
52    16
30    15
21    15
27    14
69    14
36    14
Name: count, dtype: int64

In [33]:
channel_video_counts = df.groupby("Channel name")["Video Uploads"].count().reset_index(name='Video Upload Count')

In [34]:
channel_video_counts

                      Channel name  Video Upload Count
0                #Desenhos Kids BR                   1
1     #FIRST WINGS FILM PRODUCTION                   1
2                #Mentale Zuflucht                   1
3                  #Mind Warehouse                   1
4                  #Refugio Mental                   1
...                            ...                 ...
4988                핑크퐁 (인기 동요・동화)                   1
4989                      허팝Heopop                   1
4990                 헤이지니 Hey Jini                   1
4991          헬로카봇 - hello carbot…                   1
4992                          흔한남매                   1

[4993 rows x 2 columns]

Filtering a column by one or more criteria

In [65]:
print(df.columns)

Index(['Rank', 'Grade', 'Video Uploads', 'Subscribers', 'Video views'], dtype='object')

In [11]:
filtered_df = ytube[ytube.iloc[:, 2] == 'Uras Benlioğlu']# filtering the data for number of subscriber for perticular channel

In [12]:
filtered_df

         Rank Grade    Channel name Video Uploads Subscribers  Video views
4995  4,996th   B+   Uras Benlioğlu           706     2072942    441202795

GRouping

In [19]:
non_numeric_values = ytube['Video Uploads'].loc[~ytube['Video Uploads'].astype(str).str.isnumeric()]

In [20]:
non_numeric_values

267     --
517     --
2323    --
3072    --
3247    --
4898    --
Name: Video Uploads, dtype: object

In [25]:
ytube['Subscribers'] = pd.to_numeric(ytube['Subscribers'], errors='coerce')# Convert 'Subscribers' to numeric, coerce non-numeric values to NaN

In [26]:
df1 = ytube.dropna(subset=['Subscribers'])# Drop rows with NaN values in 'Subscribers' (optional, if needed)

In [27]:
sorted_df1 = df1.sort_values(by='Subscribers', ascending=True)## Sort the DataFrame by 'Subscribers' in ascending order

In [29]:
result_df = sorted_df1[['Channel name', 'Subscribers']]## Display the sorted DataFrame with 'Channel name' and 'Subscribers'

In [30]:
print(result_df )

                 Channel name  Subscribers
4096            Xiaomi France        301.0
92              hairong zheng        394.0
3516              Jianpeng Li        437.0
3160      Ron Funches - Topic        453.0
2287  Christian Nodal - Topic        471.0
...                       ...          ...
3222           HolaSoyGerman.   34480357.0
174              Dude Perfect   34489432.0
11            Canal KondZilla   39409726.0
1                    T-Series   61196302.0
1470                PewDiePie   65995310.0

[4613 rows x 2 columns]